<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
    {% block title %}
    Magazin online
    {% endblock %}
    </title>
</head>
<body>
    <h2>КАТАЛОГ</h2>
    <hr>
    {% block content %}
    <div class="container-fluid">
        <ul class="nav nav-pills justify-content-end align-items-end">
            <li class="nav-item"><a href="/clothes/"
                                    class="nav-link">Одежда</a></li>
            <li class="nav-item"><a href="/shoes/"
                                    class="nav-link">Обувь</a></li>
        </ul>
    </div>
    {% endblock %}

    <div class="row fixed-bottom modal-footer">
        <hr>
        <p>Магазин ООО "Легпром"<br>
           Контакты: e-mail@mail.ru<br>
           Телефон: +7-800-1234567<br>
           &copy;</p>
    </div>  
</body>
</html>